*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --image:url('./image8.jpg');
}
body {
    background: #710c19;
   
}
section{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}
section h2 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: aliceblue;
    font-weight: 700;
}
.banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    perspective: 200px;
    transform-style: preserve-3d;
}
.banner .blocks {
    position: relative;
    display: block;
    width: calc(100vw/20);
    height: calc(100vh/8);
    background-image: var(--image);
    animation: animate 6s linear 1;
    background-position:center;
    background-attachment: fixed;
}
@keyframes animate {
    0%{
        
        transform: translateZ(2000px);
        background-image: var(--image);
    }
    100%{
        transform: translateZ(0px);
        background-image: var(--image);
    }
}