*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #710c19;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
    perspective: 500px;
}
section h2 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: aliceblue;
    font-weight: 700;
}
.banner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.banner .blocks {
    position: relative;
    display: block;
    width: 2vw;
    height: 5vw;
    background: #fff;
    animation: animate 20s ease-in-out forwards;
}
@keyframes animate {
    0%{
        transform: translateY(2000px);
        background-image: url('img8.jpg');
    }
    100%{
        transform: translateY(0px);
        background-image: url('img8.jpg');
    }
}