*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
}
#button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vw;
    width: 20vw;
    background-color: rgb(20, 36, 30);
    overflow: hidden;
    z-index: 2;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#button::before {
    position: absolute;
    content: '';
    height: 110%;
    width: 90%;
    background-image:linear-gradient(aqua,green);
    animation: rotate 3s linear infinite;
    filter: blur(19px);
    z-index: -1;
}
#button::after {
    position: absolute;
    content: '';
    height: 96%;
    width: 96%;
    background-color: inherit;
    z-index: -1;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}