*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
   justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121213;
}
.loader{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    background: #1a1a1f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color:#ffff;
overflow:hidden;
transition:all 2s ease-in;
}
.loader:hover{
    background: #03e9f4;
    color:#050801;
    box-shadow: 0 0 233435px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4

    ;

}
.loader span{
    position: absolute;
    display: block;
}
.loader span:nth-child(1) {
    top:0;
    left:-100%; 
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #03e9f4, #d0f403,#24ed24);
    animation: animate1 2s linear infinite;
    animation-delay: 0s;
}
@keyframes animate1 {
    0%{
        left: -100px;
    }
    50%,100%{
        left:100%;
    }
}
.loader span:nth-child(3) {
    bottom:0;
    right:-100%; 
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #e69e0e, #df101e,#2477fd);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate3 {
    0%{
        right: -100px;
    }
    50%,100%{
        right:100%;
    }
}
.loader span:nth-child(2) {
    top:-100%;
    right:0px; 
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fa38d6, #3b6bef,#cdf80c);
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate2 {
    0%{
        top: -100px;
    }
    50%,100%{
        top:100%;
    }
}.loader span:nth-child(4  ) {
    bottom:-100%;
    left:0px; 
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #5c39eb, #a99608,#16ecda);
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
}
@keyframes animate4 {
    0%{
        bottom: -100px;
    }
    50%,100%{
        bottom:100%;
    }
}
.loader h3{
    font-family: consolas;
    color:#03e9f4;
    overflow: hidden;
    letter-spacing: 2px;
    transition: 0.5s;
    border-right: 1px solid #03e9f4;
    animation: typing 4s steps(10) infinite;
}
.loader:hover h3 {
    color: #111;
    border-right: 1px solid #111;
}
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 120px;
    }
    70%{
        width: 120px;
    }
    100%{
        width: 0;
    }
}